.item(data-slug=slug)
    .right.floated.content
        a.ui.mini.blue.icon.button(href='/campaigns/#{slug}/settings' title='Campaign Settings' data-content='Campaign Settings')
            i.settings.icon
    .header.content #{name}