.item(data-slug=slug)
    .right.floated.content
        a.ui.mini.blue.icon.button(href='/monsters/edit/#{slug}' title='Edit Monster' data-content='Edit Monster')
            i.settings.icon
    .header.content #{name}