.ui.grid
    .sixteen.wide.column
        .ui.center.aligned.top.attached.inverted.panel.header Treasure Generator
        .ui.middle.attached.panel.segment
            +DAtreasure

            //.ui.divider

            //.ui.icon.message
                i.quote.left.icon
                .content
                    .header Why no magic items?
                    p.cursive "That said, rarity shouldn't get in the way of your campaign's story. If you want a ring of invisibility to fall into the hands of a 1st-level character, so be it. No doubt a great story will arise from that event." - DMG p135
                    p I am no dungeon master, but the best way to give out magic items is to put them in your story, atleast, that is my opinion on the matter.