.ui.sub.header Current Avatar
+avatar(user=currentUser size='large')
.ui.sub.header Update Avatar
form.ui.form
    .ui.fluid.action.input
        input(type='text' name='url' placeholder='Avatar Url')
        button.ui.green.button(type='submit')
            i.save.icon
            | Update