form.ui.form
    .fields
        .field
            label First Name:
            input(type='text' name='firstName' placeholder='First Name' value=currentUser.profile.firstName)

        .field
            label Last Name:
            input(type='text' name='lastName' placeholder='Last Name' value=currentUser.profile.lastName)

    .field
        label Display Name:
        input(type='text' name='displayName' placeholder='Display Name' value=currentUser.profile.name)

    .field
        button.ui.blue.button(type='submit')
            i.save.icon
            | Update