.ui.center.aligned.grid
    .column
        .ui.segment
            h1.ui.header
                .content Dungeon Master Assist
                .sub.header Making life of evil easier.

            .ui.list
                .item Made by Robin Kuiper
                .item
                    a(href='http://rgjkuiper.nl' target='_blank')
                        i.cloud.icon
                        | rgjkuiper.nl
                .item
                    a(href='mailto:robingjkuiper@gmail.com')
                        i.mail.icon
                        | info@rgjkuiper.nl
                .item
                    a(href='https://discord.gg/VDqHRdz' target='_blank' title='Join Our Discord!')
                        i.text.telephone.icon
                        | Join Discord!

            .ui.divider

            span Online GM's: #{onlineUsers}

            .ui.divided.header Changelog:

            .ui.list
                .item
                    .header v0.3.11 - October 8, 2016
                    .content
                        .ui.list
                            .item Bug Fixes.

                .item
                    .header v0.3.10 - October 7, 2016
                    .content
                        .ui.list
                            .item Generate treasures from the campaign page.
                            .item Basic saving of treasures to campaign.
                            .item Treasure Hoards can now be generated.
                            .item Bug Fixes.

                .item
                    .header October 5, 2016
                    .content
                        .ui.list
                            .item Created
                                a(href='https://discord.gg/VDqHRdz' target='_blank' title='Join Our Discord!') Discord
                                | server and added link to sidebar and about page.
                            .item Editting your monsters is possible again
                            .item Only SRD Monsters added
                            .item Changed parts of the monster system
                            .item Bug Fixes

                .item
                    .header October 3, 2016
                    .content
                        .ui.list
                            .item Add public view for campaigns
                            .item Bug Fixes

                .item
                    .header October 2, 2016
                    .content
                        .ui.list
                            .item Total redesign
                            .item Added treasure generation to encounters
                            .item Code fully herwritten
                            .item Bug Fixes

                .item
                    .header June 23, 2016
                    .content
                        .ui.list
                            .item Added basic dice roller to campaign page
                            .item Added number indicator to single monsters in turn order
                            .item Bug Fixes

                if more
                    .item
                        .header May 6, 2016
                        .content
                            .ui.list
                                a.item(href='/profile') Added profile section
                                .item Edit custom monsters
                                .item New Avatar system
                                .item Display name change
                                .item Added creator name to custom monster
                                .item Facebook login
                                .item Bug Fixes
                    .item
                        .header May 5, 2016
                        .content
                            .ui.list
                                a.item(href='/treasure') Basic treasure generator
                                .item Comments below custom monsters
                                .item Bug fixes
                    .item
                        .header May 4, 2016
                        .content
                            .ui.list
                                .item Challenge Calculator now base on campaign info
                                .item Custom monsters
                                .item Remove monsters from encounters
                                .item Show AC in turn order
                                .item Initiative in turn order is always changeable
                                .item Auto roll initiative
                                .item Bug fixes
                    .item
                        .header May 3, 2016
                        .content
                            .ui.list
                                .item New login page
                                .item Bug fixes
                    .item
                        .header April 29, 2016
                        .content
                            .ui.list
                                .item New way to add something to turn order
                                .item Easy monster adder for turn order
                                .item Some template changes
                                .item Basic player stats
                                .item Added days to timer
                    .item
                        .header April 28, 2016
                        .content
                            .ui.list
                                .item Monster Information Pages
                                .item Search!
                    .item
                        .header April 27, 2016
                        .content
                            .ui.list
                                .item First basic version of encounters online

                    .item
                        .header April 26, 2016
                        .content
                            .ui.list
                                .item Added Monster DB with basic stats
                                .item Changed header menu
                    .item
                        .header April 25, 2016
                        .content
                            .ui.list
                                .item Added Concentration
                                .item Added Status effects.
                                .item This page!
                                .item Customizable round time
                                .item Campaign settings
                                .item Possibility to show both turn order and player list

                    .item
                        .header April 24, 2016
                        .content
                            .ui.list
                                .item Added time
                                .item Added buffs
                                .item Added player list
                                .item Added Campaigns.
                                .item Added accounts.

                    .item
                        .header April 22, 2016
                        .content
                            .ui.list
                                .item Basic turn order list
                                .item Started working.
                else
                    a.more.item More...

