#adminPusher
  width calc(100% - 150px)

  padding 20px 20px 20px 35px

  background-color #D2D6D7
  -webkit-box-shadow: inset 13px 0 27px -13px rgba(0,0,0,1);
  -moz-box-shadow: inset 13px 0 27px -13px rgba(0,0,0,1);
  box-shadow: inset 13px 0 27px -13px rgba(0,0,0,1);

  .panel.header
    background-image url('/images/ui/panel-header.png')

  .panel
    -webkit-box-shadow 0 1px 2px 0 rgba(0,0,0,0.3)
    -moz-box-shadow 0 1px 2px 0 rgba(0,0,0,0.3)
    box-shadow 0 1px 2px 0 rgba(0,0,0,0.3)