#resetTimeButton
  background-color #1678c2
#resetTimeButton:hover
  background-color #2185d0

.done
  color gray
  font-style italic

#monsterDropdown
  .item
    .header
      font-weight 900
      .description
        font-size 8pt
        font-weight 100

#publicLink
  cursor pointer